poc/my-app/node_modules/
poc/my-app/.expo/
poc/my-app/dist/
poc/my-app/npm-debug.*
poc/node_modules/*
poc/my-app/.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
poc/my-app/web-build/

# macOS
poc/my-app/.DS_Store
